<h1>Bulletins</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bulletins.each do |bulletin| %>
  <tr>
    <td><%= bulletin.event_id %></td>
    <td><%= bulletin.status %></td>
    <td><%= link_to 'Show', bulletin %></td>
    <td><%= link_to 'Edit', edit_bulletin_path(bulletin) %></td>
    <td><%= link_to 'Destroy', bulletin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bulletin', new_bulletin_path %>
