<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event %>
</p>

<p>
  <b>Status:</b>
  <%= @bulletin.status %>
</p>

<%= link_to 'Edit', edit_bulletin_path(@bulletin) %> |
<%= link_to 'Back', bulletins_path %>
