<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @task.task_type %>
</p>

<p>
  <b>Event:</b>
  <%= @event %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>

<b>Activities</b>

<table>
  <tr>
    <th>User</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%#  %>
  <% @task.activities.each do |activity| %>
      <tr>
        <td><%= activity.user_id %></td>
        <td><%= activity.latitude %></td>
        <td><%= activity.longitude %></td>
        <td><%= activity.time %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  <% end %>
  <%= gmaps({
                    "map_options" => { "auto_zoom" => false},
                    "markers"     => { "data" => @json }
            })
  %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path(:task_id => @task.id) %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
