<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @task.task_type %>
</p>

<p>
  <b>Event:</b>
  <%= @event %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>

<%= link_to 'New Activity', new_activity_path(:task_id => @task.id) %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
