<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Location:</b>
  <%= Location.find(@event.location_id).name %>
</p>

<b>Tasks</b>

<table>
  <tr>
    <th>Type</th>
    <th>Completed</th>
  </tr>

  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_type %></td>
        <td><%= task.completed %></td>
        <td><%= link_to 'Log Activity', new_activity_path(:task_id => task.id) %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<b>Bulletins<b1>

<table>
  <tr>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= bulletin.status %></td>
        <td><%= link_to 'Show', bulletin %></td>
        <td><%= link_to 'Edit', edit_bulletin_path(bulletin) %></td>
        <td><%= link_to 'Destroy', bulletin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<b>Users doing activities</b>

<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Email</th
  </tr>

  <% @rsvps.each do |user| %>
      <tr>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<% @tasks.each do |task| %>
  <% task.activities.each do |activity| %>
    <% activity.photos.each do |photo| %>
      <td><%= image_tag photo.photo.url(:thumb) %></td>
    <% end %>
  <% end %>
<% end %>

<br />

<%= link_to 'Add Bulletin', new_bulletin_path(:event_id => @event.id) %> |
<%= link_to 'Add Task', new_task_path(:event_id => @event.id) %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
