<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location_id %>
</p>

<b>Tasks for this event</b>

<table>
  <tr>
    <th>Type</th>
    <th>Event</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_type %></td>
        <td><%= task.event_id %></td>
        <td><%= task.completed %></td>
        <td><%= link_to 'New Activity', new_activity_path(:task_id => task.id) %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<b>Bulletins<b1>

<table>
  <tr>
    <th>Event</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= bulletin.status %></td>
        <td><%= link_to 'Show', bulletin %></td>
        <td><%= link_to 'Edit', edit_bulletin_path(bulletin) %></td>
        <td><%= link_to 'Destroy', bulletin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<b>Users who have done an activity for this event</b>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @rsvps.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.user_type %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Add Bulletin', new_bulletin_path(:event_id => @event.id) %> |
<%= link_to 'Add Task', new_task_path(:event_id => @event.id) %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
