<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= User.find(@activity.user_id).first_name %>
</p>

<b>Tasks</b>

<table>
  <tr>
    <th>Type</th>
    <th>Event</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @activity.tasks.each do |task| %>
      <tr>
        <td><%= task.task_type %></td>
        <td><%= Event.find(task.event_id).title if task.event_id %></td>
        <td><%= task.completed %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<p>
  <b>Latitude:</b>
  <%= @activity.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @activity.longitude %>
</p>

<p>
  <b>Time:</b>
  <%= @activity.time %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
